/* ===============================================
	▼共通 (大枠・小枠)
=============================================== */
.pcDisplay {
	display: block;
}
.spDisplay {
	display: none;
}
/* ━━━━ ▼大枠 ━━━━ */
#wrapper {
	width: 100%;
	font-size: 80%;
	text-align: center;
	position: relative;
	margin: 0 auto;
}
#container {
	width: 100%;
	padding: 0 0 30px;
	margin: 0 auto;
}

/* ━━━━ ▼小枠 ━━━━ */
.frame {
	width: 980px;
	text-align: left;
	position: relative;
	margin: 0 auto;
}

/* ━━━━ ▼カラム ━━━━ */
#mainArea {
	float: left;
	width: 700px;
}
#sideArea {
	float: right;
	width: 260px;
}

/* ===============================================
	▼共通 (サイド)
=============================================== */
#sideArea #btnJobvisit {
	position: relative;
	margin: -17px 0 0;
}
#sideArea #btnJobvisit a span {
	display: block;
	color: #333;
	font-size: 10px;
	width: 160px;
	line-height: 1.3;
	position: absolute;
	top: 105px;
	left: 16px;
}
#sideArea #btnJobvisit a:hover span {
	color: #777;
}

/* ━━━━ ▼sideMenu ━━━━ */
#sideArea #sideMenu {
	width: 100%;
	background: url(../img/bg_foothold_btm.png) no-repeat left bottom;
	padding: 0 0 5px;
	margin: 0 0 30px;
}
#sideArea #sideMenu ul {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#sideArea #sideMenu ul li {
	border-bottom: 1px dotted #ddd;
	padding: 10px 5px 10px 10px;
}
#sideArea #sideMenu ul li a {
	color: #646464;
	display: inline-block;
	text-decoration: none;
	background: url(../img/arrow04.png) no-repeat left center;
	padding: 0 0 0 12px;
}
#sideArea #sideMenu ul li a:hover {
	color: #f9a300;
	text-decoration: underline;
}

/* ━━━━ ▼foothold ━━━━ */
#sideArea #foothold {
	width: 100%;
	background: url(../img/bg_foothold_btm.png) no-repeat left bottom;
	padding: 0 0 5px;
}
#sideArea #foothold #sfOffice {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 5px 10px;
}
#sideArea #foothold #sfOffice li {
	border-bottom: 1px dotted #ddd;
	padding: 5px;
}
#sideArea #foothold #sfOffice li a {
	color: #646464;
	text-decoration: none;
	background: url(../img/arrow02.png) no-repeat left center;
	padding: 0 0 0 25px;
}
#sideArea #foothold #sfOffice li a:hover {
	text-decoration: underline;
}
#sideArea #foothold #sfArea {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 0;
}
#sideArea #foothold #sfArea li {
	float: left;
	margin: 0 10px;
}
#sideArea #foothold #sfArea li a {
	color: #646464;
	text-decoration: underline;
}
#sideArea #foothold #sfArea li a:hover {
	color: #f9a300;
}

/* ===============================================
	▼共通 (タイトル)
=============================================== */
.title01 {
	border-top: 2px solid #f9a300;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 24px 20px 18px;
}
.title02 {
	border-top: 2px solid #f9a300;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;
}
.title03 {
	background-color: #f1f1f1;
	padding: 10px 15px;
}
.title04 {
	color: #333;
	font-size: 110%;
	background: url(../img/dotline.png) repeat-x left bottom;
	border-top: 1px solid #ddd;
	padding: 10px 15px;
}
.title05 {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #f1f1f1;
	padding: 10px 15px;
}
.title06 {
	color: #333;
	font-size: 120%;
	border: 1px solid #ddd;
	background: #f1f1f1 url(../img/bg_title06.png) no-repeat 15px center;
	padding: 5px 30px;
}
.title07 {
	color: #333;
	font-size: 110%;
	border-left: 5px solid #f9a300;
	border-bottom: 1px solid #ddd;
	padding: 2px 15px;
	margin: 0 0 15px;
}

/* ===============================================
	▼共通 (ページトップ)
=============================================== */
.pagetop {
	width: 100%;
	text-align: right;
	padding: 10px 0;
}

/* ===============================================
	▼共通 (パンクズ)
=============================================== */
#pan {
	font-size: 80%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0 0 20px;
}
#pan ul,
#pan .breadcrumbs {
	padding: 10px 0;
}
#pan li {
	float: left;
	padding: 0 2px 0 0;
}
#pan .breadcrumbs a {
	color: #f9a300;
	text-decoration: none;
}
#pan .breadcrumbs span {
	margin: 0 8px;
}
#pan li a:hover,
#pan .breadcrumbs a:hover {
	text-decoration: underline;
}

/* ===============================================
	▼共通 (ボックス)
=============================================== */
.textBox {
	padding: 20px;
}
.textBox02 {
	padding: 0 20px 20px;
}
.borderBox {
	border: 1px solid #ddd;
	padding: 20px;
	margin: 0 0 20px;
}

/* ===============================================
	▼共通 (リスト)
=============================================== */
ol.number li {
	list-style-type: decimal;
	padding: 0 0 10px;
	margin: 0 0 0 2em;
}
ol.number02 li {
	list-style-type: cjk-ideographic;
	padding: 0 0 10px;
	margin: 0 0 0 2em;
}
ol.number03 li {
	list-style-type: upper-roman;
	padding: 0 0 10px;
	margin: 0 0 0 2em;
}
ol.number03 li ol.number li {
	list-style-type: decimal;
	padding: 0 0 10px;
	margin: 0 0 0 2em;
}
ul.disc li {
	font-weight: normal;
	list-style-type: disc;
	padding: 5px 0 5px;
	margin: 0 0 0 1em;
}
ul.circle li {
	font-weight: normal;
	list-style-type: circle;
	padding: 5px 0 5px;
	margin: 0 0 0 1em;
}
ol.number li ul.disc li {
	font-weight: normal;
	list-style-type: disc;
	padding: 5px 0 5px;
	margin: 0 0 0 1em;
}

/* ===============================================
	▼共通 (テーブル)
=============================================== */
.tableStyle01 {
	width: 100%;
	background-color: #ddd;
}
.tableStyle01 th {
	font-weight: bold;
	background-color: #f1f1f1;
	padding: 10px;
}
.tableStyle01 td {
	background-color: #fff;
	padding: 10px;
}
.tableStyle01 td.noPad {
	padding: 0;
}
table th.middle {
	vertical-align: middle;
}
table td.middle {
	vertical-align: middle;
}

/* ━━━━ ▼tableStyle02 ━━━━ */
.tableStyle02 {
	width: 100%;
}
.tableStyle02 th {
	font-weight: bold;
	background-color: #f1f1f1;
	border-bottom: 1px solid #fff;
	padding: 10px;
}
.tableStyle02 td {
	background-color: #fff;
	border-bottom: 1px dotted #ddd;
	padding: 10px;
}
.tableStyle02 td.noPad {
	padding: 5px;
}
.tableStyle02 tr.end th,
.tableStyle02 tr.end td {
	border: none;
}
.tableStyle02 th table th,
.tableStyle02 td table td {
	border: none;
	padding: 5px;
}
.tableStyle02 td table td {
	border: none;
	padding: 5px 10px;
}

/* ━━━━ ▼tableStyle03 ━━━━ */
.tableStyle03 {
	width: 100%;
}
.tableStyle03 th {
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #ddd;
	padding: 10px;
}
.tableStyle03 td {
	background-color: #fff;
	padding: 10px;
}
.tableStyle03 td.noPad {
	padding: 0;
}
.tableStyle03 tr.end th,
.tableStyle03 tr.end td {
	border: none;
}
.tableStyle03 th table th,
.tableStyle03 td table td {
	border: none;
}

/* ━━━━ ▼tableStyle04 ━━━━ */
.tableStyle04 {
	width: 100%;
	background-color: #ddd;
}
.tableStyle04 th {
	font-weight: bold;
	text-align: left;
	border: 1px solid #fff;
	background-color: #f1f1f1;
	padding: 10px;
}
.tableStyle04 td {
	border: 1px solid #fff;
	background-color: #fff;
	padding: 10px;
}


/* ━━━━ ▼お知らせ　共通　CSS ━━━━ */
.iconLink01 a{text-decoration:underline;font-size:14px;color:#ee7b00;}
.iconLink01 a:hover{text-decoration:none;}
.iconLink01 a:after{
	margin: 0 12px 0 5px;
	content: url(/wp-content/themes/themIvisit/images/common/pdf01.png) !important;
	vertical-align: -3px;
}

.iconLink01 a:before{
	padding-left: 12px;
	background: url(/wp-content/themes/themIvisit/images/common/common_ic01.jpg) no-repeat 0 5px;
	margin: 0 12px 0 5px;
}