@charset "utf-8";
/* ===============================================
	▼各CSS設定
		+ 事業内容
		+ ご挨拶
		+ 拠点案内
		+ 企業理念・品質管理方針
		+ お仕事までの流れ
		+ オンライン仮登録
		+ お問い合わせ
		+ 個人情報保護方針
		+ ISMS基本方針
		+ お知らせ
		+ サイトマップ

=============================================== */

/* -----------------------------------------
	▼ 事業内容
----------------------------------------- */
/* ━━━━ ▼topCate ━━━━ */
#topCate {
	width: 100%;
	margin: 0 0 30px;
}
#topCate h3 {
	background: url(../img/bg_top_ttl_business.png) no-repeat right top;
}
#topCate li {
	float: left;
	width: 230px;
	margin: 0 20px 0 0;
}
#topCate li.end {
	margin: 0;
}
#topCate li a {
	display: block;
	width: 230px;
	height: 210px;
	color: #646464;
	text-decoration: none;
	overflow: hidden;
	background: url(../img/bg_top_menu.png) no-repeat left top;
}
#topCate li a:hover {
	display: block;
	background: url(../img/bg_top_menu_o.png) no-repeat left top;
}
#topCate li dl {
	padding: 10px 7px;
}
#topCate li dl dt {
	text-align: center;
	font-size: 0;
	line-height: 0;
}
#topCate li dl dd h4 {
	text-align: center;
	font-size: 0;
	line-height: 0;
	border-bottom: 1px dotted #ddd;
	padding: 8px 0 5px;
}
#topCate li dl dd p {
	font-size: 90%;
	padding: 5px 5px 0;
}

/* ━━━━ ▼leadBox ━━━━ */
#leadBox {
	background: url(../img/bg_leadbox.png) repeat-x left top;
	padding: 30px 0 0;
}
#leadBox #leadBoxPad {
	_height: 350px;
	min-height: 350px;
	padding: 0 240px 0 30px;
}
#leadBox #leadBoxPad h3 {
	color: #232323;
	font-size: 170%;
	line-height: 1.6;
	padding: 0 0 30px;
}
#leadBox #leadBoxPad h3 span {
	display: block;
	color: #232323;
	font-size: 50%;
	line-height: 1.6;
}
#leadBox #leadBoxPad p {
	padding: 0 0 30px;
}
#eigyou #leadBox #leadBoxPad  {
	background: url(../../images/eigyou/eigyou_lead.png) no-repeat 95% bottom;
}
#tempo #leadBox #leadBoxPad  {
	background: url(../../images/temporary/tempo_lead.png) no-repeat 95% bottom;
}
#visiting #leadBox #leadBoxPad  {
	background: url(../../images/visiting/visiting_lead.png) no-repeat 95% bottom;
}
#sales #leadBox #leadBoxPad  {
	background: url(../../images/sales/sales_lead.png) no-repeat 95% bottom;
}

/* ━━━━ ▼caseBox ━━━━ */
#caseBox {
	border: 1px solid #ddd;
	margin: 0 0 20px;
}
#caseBox #caseBoxPad {
	padding: 2px 15px 5px;
}
#caseBox #caseBoxPad h3 {
	padding: 0 0 15px;
}
#caseBox #caseBoxPad  #caseInfo {
	padding: 0 0 10px 10px;
}
#caseBox #caseBoxPad  #caseInfo table {
	width: 100%;
}
#caseBox #caseBoxPad  #caseInfo table td {
	vertical-align: middle;
}
#caseBox #caseBoxPad #caseInfo ul li {
	background: url(../img/case_list_btm.png) no-repeat left bottom;
	margin: 0 0 10px;
}
#caseBox #caseBoxPad #caseInfo ul li p {
	background: url(../img/case_list_top.png) no-repeat left top;
}
#caseBox #caseBoxPad #caseInfo ul li span {
	display: block;
	background: url(../img/case_list_middle.png) no-repeat right center;
	padding: 5px 10px 5px 0;
}
#caseBox #caseBoxPad #caseInfo ul li span b {
	display: block;
	font-size: 110%;
	line-height: 1.4;
	background: url(../img/icon_check.png) no-repeat 10px center;
	border-left: 1px solid #deeca4;
	padding: 0 0 0 40px;
}
#caseBox #caseBoxPad #caseInfo ol li {
	list-style-type: circle;
	line-height: 1.4;
	padding: 4px 0;
	margin: 0 0 0 1em;
}
#caseBox #caseBoxPad #caseInfo ol.normal {
	padding: 5px 0 20px;
}
#caseBox #caseBoxPad #caseInfo ol.normal li {
	font-weight: normal;
	padding: 0;
}

/* ━━━━ ▼flowBox ━━━━ */
#flowBox {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	margin: 0 0 20px;
}
#flowBox .fbCont {
	width: 640px;
	background: url(../img/flow_box_top.png) no-repeat left top;
	padding: 5px 0 0;
	margin: 0 auto;
}
#flowBox .fbCont .fbContPad {
	background: url(../img/flow_box_btm.png) no-repeat left bottom;
	padding: 0 0 5px;
}
#flowBox .fbCont .fbContPad table {
	width: 100%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 5px 0;
}
#flowBox .fbCont .fbContPad table th {
	width: 20%;
	text-align: center;
	vertical-align: middle;
	/*border-right: 1px solid #ddd;*/
}
#flowBox .fbCont .fbContPad table td {
	width: 80%;
	padding: 0 20px 0 0;
}
#flowBox .fbCont .fbContPad table td h4 {
	color: #333;
	font-size: 110%;
}
#flowBox .fbCont .fbContPad table td h5 {
	color: #333;
	padding: 0 0 0 1.5em;
}
#flowBox .fbCont .fbContPad table td p {
	padding: 0 0 0 1.5em;
}
#flowBox .arrow {
	text-align: center;
	padding: 5px 0;
}

/* ━━━━ ▼achieveBox ━━━━ */
#achieveBox {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	margin: 0 0 20px;
}
#achieveBox #achieveBoxPad {
	width: 640px;
	margin: 0 auto;
}
#achieveBox .achieveInfo {
	padding: 0 0 20px;
}
#achieveBox .achieveInfo dt {
	float: left;
	width: 120px;
}
#achieveBox .achieveInfo dd {
	float: right;
	width: 500px;
}
#achieveBox .achieveInfo dd ul li {
	position: relative;
	padding: 0 0 0 5.5em;
}
#achieveBox .achieveInfo dd ul li span.ttl {
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 0;
}
#achieveBox table {
	width: 100%;
}
#achieveBox table th {
	width: 48%;
	text-align: center;
	background-color: #f1f1f1;
	border: 1px solid #ddd;
	padding: 5px 0;
}
#achieveBox table th.shisaku {
	background-color: #fde8c0;
}
#achieveBox table td {
	line-height: 1.4;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 7px;
}
#achieveBox table td.space {
	width: 4%;
	border: none;
	padding: 0;
}
#achieveBox #resultBox {
	background: url(../img/achieve_result_btm.png) no-repeat left bottom;
	position: relative;
	padding: 0 0 5px;
	margin: 20px 0 0;
}
#achieveBox #resultBox #resultBoxPad {
	border-left: 3px solid #bfd17b;
	border-right: 3px solid #bfd17b;
	padding: 7px 20px;
}
#achieveBox #resultBox #resultBoxPad ol li {
	font-size: 110%;
	font-weight: bold;
	padding: 3px 0;
}
#achieveBox .arrow {
	position: absolute;
	top: -19px;
	right: 60px;
}

/* -----------------------------------------
	▼ ご挨拶
----------------------------------------- */
#greeting h5 {
	color: #333;
	font-size: 120%;
}
#greeting .text {
	font-size: 110%;
	line-height: 2;
}

/* -----------------------------------------
	▼ 拠点案内
----------------------------------------- */
#foothold .fhBox {
	border-bottom: 2px dotted #ddd;
	padding: 0 0 15px;
	margin: 0 0 20px;
}
#foothold .fhBox .fhImg {
	float: right;
	width: 30%;
	text-align: right;
}
#foothold .fhBox .fhImg img {
	border: 1px solid #ddd;
	padding: 2px;
}
#foothold .fhBox .fhInfo {
	float: left;
	width: 70%;
}
#foothold .fhBox .fhInfo h4 {
	color: #333;
	font-size: 110%;
	border-left: 5px solid #f9a300;
	border-bottom: 1px solid #ddd;
	padding: 2px 10px;
	margin: 0 0 10px;
}
#foothold .fhBox .fhInfo table th {
	width: 12%;
	font-weight: bold;
	padding: 2px 0;
}
#foothold .fhBox .fhInfo table td {
	width: 88%;
	padding: 2px 0 2px 10px;
}
#foothold .fhBox .fhInfo table td a {
	color: #555;
	background: url(../img/arrow05.png) no-repeat right center;
	padding: 0 20px 0 0;
}
#foothold .fhBox .fhInfo table td a:hover {
	color: #999;
}

#foothold .fhBox02 {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0 0 5px;
}
#foothold .fhBox02 h4 {
	color: #333;
}

/* -----------------------------------------
	▼ 企業理念・品質管理方針
----------------------------------------- */
#philosophy .philText {
	font-size: 120%;
	line-height: 2;
	padding: 0 10px 60px;
}
#philosophy td {
	font-size: 120%;
	line-height: 2;
	padding: 0 5px 0 5px;
}

/* -----------------------------------------
	▼ お仕事までの流れ
----------------------------------------- */
#staff .staffBox {
	border: 1px solid #ddd;
	border-top: none;
	margin: 0 0 20px;
}
#staff .staffBox h4 {
	color: #333;
	font-size: 110%;
	padding: 5px 20px;
	border-bottom: 1px dotted #ddd;
	position: relative;
}
#staff .staffBox h4 a {
	font-size: 80%;
	font-weight: normal;
	text-decoration: none;
}
#staff .staffBox dl {
	padding: 15px 20px;
}
#staff .staffBox dl dt {
	float: left;
	width: 180px;
}
#staff .staffBox dl dd {
	float: right;
	width: 460px;
}
#staff #entryBtn {
	width: 300px;
	margin: 0 auto;
}
#staff #entryBtn a {
	display: block;
	color: #fff;
	font-size: 110%;
	font-weight: bold;
	text-align: center;
	border: 1px solid #f9a300;
	background-color: #fff;
	text-decoration: none;
	padding: 1px;
}
#staff #entryBtn a span {
	display: block;
	background-color: #f9a300;
	padding: 10px 0;
}
#staff #entryBtn a:hover span {
	background-color: #ffbe42;
}

/* -----------------------------------------
	▼ オンライン仮登録
----------------------------------------- */
#online #onlineText {
	width: 95%;
	height: 200px;
	font-size: 12px;
	line-height: 1.4;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0 auto;
}
#online .btnArea {
	width: 250px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
}
#online .btnArea li {
	margin: 0 0 15px;
}
#online .btnArea li.yes {
	border: 1px solid #f9a300;
	background-color: #fff;
	padding: 1px;
}
#online .btnArea li.yes a {
	display: block;
	color: #fff;
	text-decoration: none;
	background-color: #f9a300;
	padding: 6px 0;
}
#online .btnArea li.yes a:hover {
	background-color: #ffbe42;
}
#online .btnArea li.no {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 1px;
}
#online .btnArea li.no a {
	display: block;
	color: #646464;
	text-decoration: none;
	background-color: #ddd;
	padding: 6px 0;
}
#online .btnArea li.no a:hover {
	background-color: #f1f1f1;
}

/* -----------------------------------------
	▼ お問い合わせ
----------------------------------------- */
#client #clientText {
	width: 95%;
	height: 200px;
	font-size: 12px;
	line-height: 1.4;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0 auto;
}
#client .btnArea {
	width: 250px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
}
#client .btnArea li {
	margin: 0 0 15px;
}
#client .btnArea li.yes {
	border: 1px solid #f9a300;
	background-color: #fff;
	padding: 1px;
}
#client .btnArea li.yes a {
	display: block;
	color: #fff;
	text-decoration: none;
	background-color: #f9a300;
	padding: 6px 0;
}
#client .btnArea li.yes a:hover {
	background-color: #ffbe42;
}
#client .btnArea li.no {
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 1px;
}
#client .btnArea li.no a {
	display: block;
	color: #646464;
	text-decoration: none;
	background-color: #ddd;
	padding: 6px 0;
}
#client .btnArea li.no a:hover {
	background-color: #f1f1f1;
}

/* -----------------------------------------
	▼ 個人情報保護方針
----------------------------------------- */
#privacyMark {
	width: 100%;
	margin: 20px 0 0;
}
#privacyMark dt {
	float: left;
	width: 13%;
}
#privacyMark dd {
	float: right;
	width: 87%;
	font-size: 80%;
}
#privacyMark dd b {
	font-weight: bold;
}

/* -----------------------------------------
	▼ ISMS基本方針
----------------------------------------- */
#ismsMark {
	width: 100%;
	font-size: 80%;
	margin: 20px 0 0;
}
#ismsMark dt {
	float: left;
	width: 26%;
}
#ismsMark dd {
	float: right;
	width: 74%;
}
#ismsMark dd b {
	font-weight: bold;
}

/* -----------------------------------------
	▼ お知らせ
----------------------------------------- */
#topics .topicsList {
	width: 100%;
	margin: 0 0 20px;
}
#topics .topicsList ul li {
	position: relative;
	border-bottom: 1px dotted #ddd;
	padding: 8px 10px 8px 125px;
}
#topics .topicsList ul li .date {
	font-weight: bold;
	position: absolute;
	top: 8px;
	left: 0;
}
#topics .topicsList ul li a {
	display: inline-block;
	color: #646464;
	background: url(../img/arrow01.png) no-repeat left 6px;
	padding: 0 0 0 15px;
}
#topics .topicsList ul li a:hover {
	color: #999;
}
#topics #topicsDetail h3 {
	color: #333;
	font-size: 120%;
	font-weight: bold;
	background: url(../img/bg_title06.png) no-repeat left 4px;
	border-bottom: 1px dotted #ddd;
	padding: 0 0 10px 20px;
}
#topics #topicsDetail .date {
	text-align: right;
	padding: 2px 0 0;
}
#topics #topicsDetail .text {
	padding: 10px 20px 50px;
}
#topics #listBack {
	width: 300px;
	margin: 0 auto;
}
#topics #listBack a {
	display: block;
	color: #646464;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #fff;
	text-decoration: none;
	padding: 1px;
}
#topics #listBack a span {
	display: block;
	background-color: #e1e1e1;
	padding: 10px 0;
}
#topics #listBack a:hover span {
	color: #999;
	background-color: #f1f1f1;
}

/* -----------------------------------------
	▼ サイトマップ
----------------------------------------- */
#sitemap .sitemapBox {
	padding: 20px 20px 10px;
}
#sitemap .sitemapBox h4 {
	color: #333;
	border-top: 1px solid #ddd;
	border-bottom: 1px dotted #ddd;
	padding: 8px 20px;
}
#sitemap .sitemapBox ul {
	padding: 10px 20px 0;
}
#sitemap .sitemapBox ul li {
	background: url(../img/arrow01.png) no-repeat left center;
	padding: 5px 0 5px 15px;
}
#sitemap .sitemapBox ul li a {
	color: #646464;
	text-decoration: none;
}
#sitemap .sitemapBox ul li a:hover {
	color: #999;
}

/* -----------------------------------------
	▼ ウェアラブルカメラ
----------------------------------------- */
.contactBox dl {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.contactBox dl dt {
	display: table-cell;
	width: 236px;
	vertical-align: middle;
	text-align: center;
}
.contactBox dl dd {
	display: table-cell;
	width: 744px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ddd;
	border-left: none;
	box-sizing: border-box;
}
.contactBox dl dd dt {
	display: table-cell;
	width: 275px;
	vertical-align: middle;
	text-align: right;
}
.contactBox dl dd dd {
	display: table-cell;
	width: 468px;
	vertical-align: middle;
	text-align: left;
	border: none;
}
.contactBox dl dd dd dt {
	display: table-cell;
	width: 52%;
	vertical-align: middle;
	text-align: center;
}
.contactBox dl dd dd dt h5 {
	padding-bottom: 15px;
}
.contactBox dl dd dd dd {
	display: table-cell;
	width: 48%;
	vertical-align: middle;
	text-align: left;
	font-size: 80%;
	padding-top: 20px;
}

////////////////////////////////////
.clearfix_contents{content: ".";display: block;height: 0;clear: both;visibility: hidden;}


.nyusatsu_wrap{margin-top:30px}
.nyusatsu_wrap .nyusatsu_title{font-size:18px;margin:30px 0;color:#333;margin-left:20px}
.nyusatsu_wrap .title_text{font-size:14px;margin:0 20px 20px;color:#333;}
.nyusatsu_list a{color:#333;text-decoration:none;font-size:16px;display:block;overflow:hidden}
.nyusatsu_list a:hover{color:#ff0000;text-decoration:underline;}
.nyusatsu_list a:after {margin: 17px 15px 0 25px !important;content: url(../img/icon_pdf.png) !important;vertical-align: 10px;display:block}
.nyusatsu_list dl.first{margin-top:50px;border-bottom:none;}
.nyusatsu_list dl:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.nyusatsu_list dl{border-top:1px solid #aaa;border-bottom:1px solid #aaa;padding:0}
.nyusatsu_list dl:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.nyusatsu_list dt{margin-left:20px;float:left;width:200px;margin-right:30px;font-weight:bold;font-size:16px;padding:20px 0 10px;height:30px;color:#333}
.nyusatsu_list dd{float:left;	padding:20px 0 15px;height:20px;margin-right:15px}
.nyusatsu_list a:hover dd {text-decoration:underline}

/*btn*/
	.button{
		display:inline-block;
		width:300px;
		height:54px;
		text-align:center;
		text-decoration:none !important;
		line-height:54px;
		outline:none;
		position: relative;
		z-index: 2;
		overflow: hidden;
		font-size:1.3em;
	}

	.button::before, .button::after{
		z-index:-1;
		content:'';
		position:absolute;
		display:block;

	}
	.button::after{
		top: -100%;
		width: 100%;
		height: 100%;
	}
	.button, .button::before, .button::after{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all .3s;
		transition: all .3s;
	}

	a.blue_btn {
		background-color: #21a0fb;
		color: #fff !important;
	}
	a.blue_btn:hover {
		color: #21a0fb !important;
	}
	a.blue_btn:hover::after {
		top: 0;
		background-color: #fff;
		border: 2px solid #21a0fb;
	}

	a.gray_btn {
		background-color: #fff;
		border: 2px solid #666;
		color: #666 !important;
	}
	a.gray_btn:hover {
		color: #fff !important;
	}
	a.gray_btn:hover::after {
		top: 0;
		background-color: #666;
	}

	a.yellow_btn {
		background-color: #f06f03;
		border: 2px solid #ed6c00;
		color: #fff !important;
	}
	a.yellow_btn:hover {
		color: #f06f03 !important;
		border: 2px solid #ed6c00;
		background-color: #fff;
	}


/*layout*/
.btn_one_center{position:relative;margin-bottom:200px}
.btn_one_center a{left:30%;top:100px;position:absolute;}
.btn_two_center{position:relative;margin-bottom:150px;}
.btn_two_center .first_btn{left:20%;top:70px;position:absolute}
.btn_two_center .second_btn{left:45%;top:70px;position:absolute}


