/* ===============================================
	▼FOOTER CSS設定
=============================================== */
#footer {
	width: 100%;
}

/* ━━━━ ▼hotGroup ━━━━ */
#footer #hotGroup {
	background: url(../img/bg_hotgroup.png) repeat-x left top;
	padding: 20px 0 30px;
}
#footer #hotGroup h4 {
	padding: 0 20px 20px;
}
#footer #hotGroup #hotGroupPad {
	position: relative;
	padding: 0 0 0 40px;
}
#footer #hotGroup #hgslide {
	width: 100%;
}
#footer #hotGroup #hgslide li {
	float: left;
	width: 120px;
	text-align: center;
	position: relative;
	margin: 0 9px 0 0;
}
#footer #hotGroup a.prev,
#footer #hotGroup a.next {
	width: 8px;
	height: 11px;
	display: block;
	position: absolute;
	top: 28px;
}
#footer #hotGroup a.prev {
	background: url(../img/btn_prev.png) no-repeat left top;
	left: 10px;
}
#footer #hotGroup a.next {
	background: url(../img/btn_next.png) no-repeat left top;
	right: 10px;
}
#footer #hotGroup a.prev.disabled {
	cursor: default;
	background: url(../img/btn_prev_o.png) no-repeat left top !important;
}
#footer #hotGroup a.next.disabled {
	cursor: default;
	background: url(../img/btn_next_o.png) no-repeat left top !important;
}
#footer #hotGroup a.prev span,
#footer #hotGroup a.next span {
	display: none;
}

/* ━━━━ ▼footMenu ━━━━ */
#footer #footMenu {
	background: #f1f1f1;
	padding: 35px 0 5px;
}
#footer #footMenu .fmBox {
	float: left;
	width: 13%;
	margin: 0 20px 0 0;
}
#footer #footMenu .fmBox h5 {
	color: #333;
	font-size: 110%;
	font-weight: bold;
	background: url(../img/bg_fm_h5.png) repeat-x left bottom;
	padding: 0 10px 5px;
}
#footer #footMenu .fmBox ul {
	padding: 10px 0 30px 10px;
}
#footer #footMenu .fmBox li {
	font-size: 90%;
	background: url(../img/arrow03.png) no-repeat left 10px;
	padding: 4px 0 4px 10px;
}
#footer #footMenu .fmBox a {
	color: #646464;
	text-decoration: none;
}
#footer #footMenu .fmBox a:hover {
	text-decoration: underline;
}

/* ━━━━ ▼footProof ━━━━ */
#footProof {
	width: 100%;
	padding: 10px 0;
}
#footProof #privacy {
	float: left;
	width: 38%;
}
#footProof #privacy dt {
	float: left;
	width: 65px;
}
#footProof #privacy dd {
	float: right;
	width: 290px;
	font-size: 10px;
	padding: 15px 0 0;
}
#footProof #isms {
	float: right;
	width: 58%;
}
#footProof #isms dt {
	float: left;
	width: 160px;
}
#footProof #isms dd {
	float: right;
	width: 390px;
	font-size: 10px;
	line-height: 1.3;
}

/* ━━━━ ▼copy ━━━━ */
#footer #copy {
	color: #fff;
	font-size: 10px;
	text-align: ccenter;
	background-color: #f9a300;
	padding: 20px 0;
}
