/* ===============================================
	▼HEADER CSS設定
=============================================== */
#header {
	width: 100%;
	background: url(../img/bg_headtop.png) repeat-x left top;
	padding: 0 0 10px;
}
#header #headTop {
	width: 100%;
	position: relative;
	padding: 4px 0 0;
}
#header #headTop h1 {
	float: left;
	width: 50%;
	color: #777;
	font-size: 10px;
	font-weight: normal;
}
#header #headTop #headMenu {
	float: right;
	width: 43%;
	padding: 7px 0 0;
}
#header #headTop #headMenu li {
	float: left;
	padding: 0 20px 0 0;
}
#header #headTop #tell {
	position: absolute;
	top: 0;
	right: 0;
}
#header #headBtm #logo {
	float: left;
	width: 140px;
}
#header #headBtm #gnavi {
	float: right;
	width: 797px;
	padding: 34px 0 0;
}
#gnavi li {
	float: left;
	font-size: 0;
	line-height: 0;
}
