/* ===============================================
	▼トップページ用ＣＳＳ
=============================================== */
/* ━━━━ ▼トップメインイメージ ━━━━ */
#topImg {
	position: absolute;
	top: 102px;
	left: 0;
}

/* ━━━━ ▼topMenu ━━━━ */
#topMenu {
	background-color: #f1f1f1;
	padding: 10px 0;
	margin: 0 0 30px;
}
#topMenu li {
	float: left;
	font-size: 0;
	line-height: 0;
	padding: 0 25px 0 0;
}
#topMenu li.end {
	padding: 0;
}

/* ━━━━ ▼topCate ━━━━ */
#topCate {
	width: 100%;
	margin: 0 0 50px;
}

/* ━━━━ ▼topAbout ━━━━ */
#topAbout {
	width: 100%;
	min-height: 195px;
	_height: 195px;
	background: url(../img/bg_top_about.jpg) no-repeat right top;
	margin: 0 0 40px;
}
#topAbout dl {
	padding: 20px 10px 0;
}
#topAbout dl dt {
	padding: 0 0 15px;
}

/* ━━━━ ▼topReason ━━━━ */
#topReason {
	background-color: #f1f1f1;
	padding: 0 5px 5px;
	margin: 0 0 30px;
}
#topReason ol {
	background-color: #fff;
	padding: 12px;
}
#topReason ol li {
	float: left;
	width: 33%;
	border-right: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}
#topReason ol li h4 {
	padding: 10px;
}
#topReason ol li p {
	font-size: 90%;
	line-height: 1.6;
	padding: 5px 10px 10px;
}

/* ━━━━ ▼topNews ━━━━ */
#topNews {
	width: 100%;
	position: relative;
}
#topNews #btnList {
	position: absolute;
	top: 7px;
	right: 20px;
}
#topNews ul {
	height: 180px;
	overflow-y: scroll;
	padding: 0 10px 0 0;
	margin: 10px 0 0;
}
#topNews ul li {
	position: relative;
	border-bottom: 1px dotted #ddd;
	padding: 6px 10px 6px 140px;
}
#topNews ul li .date {
	font-weight: bold;
	position: absolute;
	top: 6px;
	left: 15px;
}
#topNews ul li a {
	color: #646464;
	background: url(../img/arrow01.png) no-repeat left center;
	padding: 0 0 0 15px;
}
#topNews ul li a:hover {
	color: #999;
}